<div class="container-fluid">

  <h3 class="text-dark mb-4">Обновить</h3>

<!--  <div th:if="${message}" class="alert alert-warning text-center" role="alert">-->
<!--    <strong th:text="${message}"></strong>-->
<!--  </div>-->

  <div class="card shadow mb-3">
    <div class="card-body">
      <form [formGroup]="automobileForm" enctype="multipart/form-data">
        <div class="row">
          <div class="col-lg-6 col-12 mb-2">
            <input type="text" class="form-control"
                   [ngStyle]="{'border-color': automobileForm.get('name')?.invalid
                 && (automobileForm.get('name')?.dirty || automobileForm.get('name')?.touched) ? 'red' : '' }"
                   placeholder="Наименование" formControlName="name">
          </div>
          <div class="col-lg-6 col-12 mb-2">
            <input type="file" class="form-control" accept="image/*" formControlName="photo">
          </div>
          <div class="col-lg-6 col-12 mb-2">
            <input type="number" class="form-control" placeholder="Цена"
                   [ngStyle]="{'border-color': automobileForm.get('price')?.invalid
                 && (automobileForm.get('price')?.dirty || automobileForm.get('price')?.touched) ? 'red' : '' }"
                   formControlName="price" min="0.01" step="0.01">
          </div>
          <div class="col-lg-6 col-12 mb-2">
            <input type="text" class="form-control"
                   [ngStyle]="{'border-color': automobileForm.get('origin')?.invalid
                 && (automobileForm.get('origin')?.dirty || automobileForm.get('origin')?.touched) ? 'red' : '' }"
                   placeholder="Страна производства" formControlName="origin">
          </div>
          <div class="col-lg-6 col-12 mb-2">
            <input type="number" class="form-control"
                   [ngStyle]="{'border-color': automobileForm.get('count')?.invalid
                 && (automobileForm.get('count')?.dirty || automobileForm.get('count')?.touched) ? 'red' : '' }"
                   placeholder="Количество" formControlName="count" min="1" step="1">
          </div>
          <div class="col-lg-6 col-12 mb-2">
            <select name="engineType" class="form-select" formControlName="engineType">
              <option *ngFor="let engineType of engineTypes" [value]="engineType">{{ engineType }}</option>
            </select>
          </div>
          <div class="col-lg-6 col-12 mb-2">
            <select name="carModelId" class="form-select" formControlName="carModelId">
<!--              [(ngModel)]="selectedCarModel"-->
              <option *ngFor="let model of models" [value]="model.id">{{ model.name }}</option>
            </select>
          </div>
          <div class="col">
            <button class="btn btn-dark w-100" type="button" (click)="updateAuto()">Обновить</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
