<div class="container-fluid">

  <h3 class="text-dark mb-4">Добавить</h3>

  <!--  <div th:if="${message}" class="alert alert-warning text-center" role="alert">-->
  <!--    <strong th:text="${message}"></strong>-->
  <!--  </div>-->

  <div class="card shadow mb-3">
    <div class="card-body">
      <form enctype="multipart/form-data" [formGroup]="addAutomobileForm">
        <div class="row">
          <div class="col-lg-6 col-12 mb-2">
            <input type="text" class="form-control"
                   [ngStyle]="{'border-color': addAutomobileForm.get('name')?.invalid
                 && (addAutomobileForm.get('name')?.dirty || addAutomobileForm.get('name')?.touched) ? 'red' : '' }"
                   placeholder="Наименование" formControlName="name">
          </div>
          <div class="col-lg-6 col-12 mb-2">
            <input type="file" class="form-control"
                   [ngStyle]="{'border-color': addAutomobileForm.get('photo')?.invalid
                 && (addAutomobileForm.get('photo')?.dirty || addAutomobileForm.get('photo')?.touched) ? 'red' : '' }"
                   accept="image/*" formControlName="photo">
          </div>
          <div class="col-lg-6 col-12 mb-2">
            <input type="number" class="form-control"
                   [ngStyle]="{'border-color': addAutomobileForm.get('price')?.invalid
                 && (addAutomobileForm.get('price')?.dirty || addAutomobileForm.get('price')?.touched) ? 'red' : '' }"
                   placeholder="Цена" formControlName="price"
                   min="0.01" step="0.01">
          </div>
          <div class="col-lg-6 col-12 mb-2">
            <input type="text" class="form-control"
                   [ngStyle]="{'border-color': addAutomobileForm.get('origin')?.invalid
                 && (addAutomobileForm.get('origin')?.dirty || addAutomobileForm.get('origin')?.touched) ? 'red' : '' }"
                   placeholder="Страна производства" formControlName="origin">
          </div>
          <div class="col-lg-6 col-12 mb-2">
            <input type="number" class="form-control"
                   [ngStyle]="{'border-color': addAutomobileForm.get('count')?.invalid
                 && (addAutomobileForm.get('count')?.dirty || addAutomobileForm.get('count')?.touched) ? 'red' : '' }"
                   placeholder="Количество" formControlName="count" min="1" step="1">
          </div>
          <div class="col-lg-6 col-12 mb-2">
            <select name="engineType" class="form-select" formControlName="engineType">
              <option *ngFor="let engineType of engineTypes" [value]="engineType.value">
                {{ engineType.label }}
              </option>
            </select>
          </div>
          <div class="col-lg-6 col-12 mb-2">
            <select name="carModelId" class="form-select" formControlName="carModelId" [(ngModel)]="selectedCarModel">
              <option *ngFor="let model of models" [value]="model.id">{{ model.name }}</option>
            </select>
          </div>
          <div class="col">
            <button class="btn btn-dark w-100" (click)="addAutomobile()">Добавить</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
