<nav>
  <div class="container-fluid d-flex flex-column p-0"><a
    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
    <div class="sidebar-brand-text mx-3">
      <span>Mercedes</span>
    </div>
  </a>
    <hr class="sidebar-divider my-0">
    <ul class="navbar-nav text-light" id="accordionSidebar">
      <li  class="nav-item"><a class="nav-link" href="/about"><span>Главная страница</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/profile"><span>Профиль</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/users"><span>Пользователи</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/models"><span>Модели</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/stats"><span>Статистика</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/automobiles"><span>Автомобили</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/applications"><span>Заявки</span></a></li>
    </ul>
  </div>
</nav>
