<div class="container-fluid" *ngIf="automobile">

  <h3 class="text-dark mb-4">{{automobile.name}}</h3>

  <a routerLink="/automobiles" class="btn btn-dark w-100 mb-3">Назад</a>

  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4 col-12 mb-2 text-center">
          <img class="rounded-5 shadow" [src]="automobile.photo" class="rounded-3 shadow"
               style="max-height: 400px;max-width: 100%">
        </div>
        <div class="col">
          <div *ngIf="isAdmin" class="row mb-3">
            <div class="col-lg-auto col-12 mb-2">
              <a [routerLink]="'/automobiles/' + automobile.id + '/edit'"
                 class="btn btn-dark w-100">Обновить</a>
            </div>
            <div class="col-lg-auto col-12 mb-2">
              <button (click)="deleteAuto(automobile.id)"
                 class="btn btn-danger w-100">Удалить</button>
            </div>
          </div>
          <div class="row mb-3">
            <div *ngIf="!isLogged" class="col-lg-4 col">
              <a routerLink="/login"
                 class="btn btn-dark w-100">Оформить</a>
            </div>
            <div *ngIf="!isAdmin && isLogged" class="col-lg-4 col">
              <a (click)="makeAppointment(automobile.id)"
                 class="btn btn-dark w-100">Оформить</a>
            </div>
          </div>
          <p class="lead mb-1">Цена: {{automobile.price}}</p>
          <p class="lead mb-1">Модель: {{automobile.carModelName}}</p>
          <p class="lead mb-1">Тип двигателя: {{automobile.engineTypeRus}}</p>
          <p class="lead mb-1">Страна производства: {{automobile.origin}}</p>
          <p class="lead mb-1">Количество: {{automobile.count}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
