<div class="container-fluid">

  <h3 class="text-dark mb-4" th:text="${automobile.name}"></h3>

  <a href="/automobiles" class="btn btn-dark w-100 mb-3">Назад</a>

  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4 col-12 mb-2 text-center">
          <img class="rounded-5 shadow" th:src="${'/img/' + automobile.photo}"
               style="max-height: 400px;max-width: 100%">
        </div>
        <div class="col">
          <div th:if="${role == 'ADMIN'}" class="row mb-3">
            <div class="col-lg-auto col-12 mb-2">
              <a th:href="${'/automobiles/' + automobile.id + '/edit'}"
                 class="btn btn-dark w-100">Обновить</a>
            </div>
            <div class="col-lg-auto col-12 mb-2">
              <a th:href="${'/automobiles/' + automobile.id + '/delete'}"
                 class="btn btn-danger w-100">Удалить</a>
            </div>
          </div>
          <div th:if="${role == 'USER'}" class="row mb-3">
            <div class="col-lg-4 col">
              <a th:href="${'/automobiles/' + automobile.id + '/application'}"
                 class="btn btn-dark w-100">Оформить</a>
            </div>
          </div>
          <p class="lead mb-1" th:text="${'Цена: ' + automobile.price}"></p>
          <p class="lead mb-1" th:text="${'Модель: ' + automobile.carModel.name}"></p>
          <p class="lead mb-1" th:text="${'Тип двигателя: ' + automobile.engineType.name}"></p>
          <p class="lead mb-1" th:text="${'Страна производства: ' + automobile.origin}"></p>
          <p th:if="${role == 'ADMIN' or role == 'MANAGER'}" class="lead mb-1"
             th:text="${'Количество: ' + automobile.count}"></p>
        </div>
      </div>
    </div>
  </div>

</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
