<div class="container-fluid">
  <h3 class="text-dark mb-4">Главная страница</h3>

  <div class="card shadow mb-3 p-3">
    <div class="mb-4 d-flex">
      <img class="w-50 shadow me-2" src="assets/img/automobiles.jpg" style="height: 300px;">
      <img class="w-50 shadow" src="assets/img/automobiles2.jpg" style="height: 300px;">
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-9">
        <p class="fs-5 mb-1" align="justify">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci alias
          aliquam
          architecto consequatur facere fugiat libero maiores natus numquam, odio officiis
          praesentium
          provident ratione, saepe ullam voluptatibus. Aut, facilis?
        </p>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <automobile-card [automobiles]="automobiles"></automobile-card>

</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
