<div class="row" *ngIf="automobiles && automobiles.length > 0">
  <div *ngFor="let automobile of automobiles" class="col-12 col-lg-4 mb-3">
    <div class="card shadow h-100">
      <div class="card-body">
        <a class="text-center d-block pe-2 ps-2" [routerLink]="'/automobiles/' + automobile.id">
          <img [src]="automobile.photo" class="rounded-3 shadow mb-3 h-100 w-100"
               style="max-height: 180px; max-width: 100%">
        </a>
        <p class="lead mb-1 text-center fw-medium">{{ automobile.name }}</p>
        <p class="mb-1">Цена: {{ automobile.price }}</p>
        <p class="mb-1">Модель: {{ automobile.carModelName }}</p>
        <p class="mb-1">Тип двигателя: {{ automobile.engineTypeRus }}</p>
        <p class="mb-1">Страна производства: {{ automobile.origin }}</p>
      </div>
    </div>
  </div>
</div>
