<div class="container-fluid">

  <h3 class="text-dark mb-4">Модели</h3>

  <div class="card shadow mb-3">
    <div class="card-header">
      <h6 class="text-dark fw-bold m-0">Добавить</h6>
    </div>
    <div class="card-body">
      <form (ngSubmit)="addModel()" [formGroup]="addModelForm">
        <div class="row">
          <div class="col-lg col-12 mb-2">
            <input type="text" class="form-control"
                   [ngStyle]="{'border-color': addModelForm.get('name')?.invalid
                 && (addModelForm.get('name')?.dirty || addModelForm.get('name')?.touched) ? 'red' : '' }"
                   placeholder="Наименование" formControlName="name">
          </div>
          <div class="col-lg-auto col-12">
            <button type="button" class="btn btn-dark w-100" (click)="addModel()">Добавить</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="models && models.length > 0" class="card shadow mb-3">
    <div class="card-header">
      <h6 class="text-dark fw-bold m-0">Изменить</h6>
    </div>
    <div class="card-body">
      <form *ngFor="let model of models" class="mb-2">
        <div class="row">
          <div class="col-lg col-12 mb-2">
            <input type="text" class="form-control"
                   [ngStyle]="{'border-color': addModelForm.get('name')?.invalid
                 && (addModelForm.get('name')?.dirty || addModelForm.get('name')?.touched) ? 'red' : '' }"
                   placeholder="Наименование" [(ngModel)]="model.name" name="{{model.id}}">
          </div>
          <div class="col-lg-auto col-12 mb-2">
            <button class="btn btn-dark w-100" (click)="updateModel(model)">Обновить</button>
          </div>
          <div class="col-lg-auto col-12 mb-2">
            <a (click)="deleteModel(model)" class="btn btn-danger w-100">Удалить</a>
          </div>
        </div>
        <hr>
      </form>
    </div>
  </div>

</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
