<div class="container-fluid">

  <h3 class="text-dark mb-4">Пользователи</h3>

  <div class="card shadow mb-4" *ngIf="users && users.length > 0">
    <div class="card-body">
      <form *ngFor="let user of users" class="mb-2">
        <div class="row">
          <div class="col-lg col-12 mb-2">
            <input type="text" readonly class="form-control" [value]="user.name">
          </div>
          <div class="col-lg col-12 mb-2">
            <input type="text" readonly class="form-control" [value]="user.phone">
          </div>
          <div class="col-lg col-12 mb-2">
            <input type="text" readonly class="form-control" [value]="user.email">
          </div>
          <div class="col-lg col-12 mb-2" *ngFor="let role of user.roles">
<!--            <select name="role" class="form-select" [(ngModel)]="userRole">-->
<!--              <option *ngFor="let role of RoleTypeTypes" [value]="userRole" [selected]="role">{{role}}</option>-->
<!--            </select>-->
<!--            <select name="role" class="form-select" [(ngModel)]="userRole" [ngModelOptions]="{standalone: true}">-->
<!--              <option *ngFor="let role of RoleTypeTypes" [value]="role">{{ role }}</option>-->
<!--            </select>-->
<!--            <select name="role" class="form-select">-->
<!--              <option *ngFor="let role of user.roles" [value]="role.name">{{ role.name }}</option>-->
<!--            </select>-->
            <select name="role" class="form-select" [(ngModel)]="user.roles![0].name">
              <option *ngFor="let roleUserType of RoleTypeTypes" [value]="roleUserType">{{ roleUserType }}</option>
            </select>
          </div>
          <div class="col-lg-auto col-12 mb-2">
            <button class="btn btn-dark w-100" type="button" (click)="updateRole(user)">Обновить</button>
          </div>
          <div class="col-lg-auto col-12 mb-2">
            <button (click)="deleteUser(user.id)" class="btn btn-danger w-100">Удалить</button>
          </div>
        </div>
        <hr>
      </form>
    </div>
  </div>

</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
