<!--<app-header-top [isLogged]="isLogged"></app-header-top>-->
<!--<app-header-left [isLogged]="isLogged"></app-header-left>-->
<!--<router-outlet></router-outlet>-->

<div class="d-flex">
  <app-header-left [isLogged]="isLogged"></app-header-left>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <app-header-top [isLogged]="isLogged"></app-header-top>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
