<div class="container-fluid">

  <h3 class="text-dark mb-4">Автомобили</h3>

  <div class="d-flex justify-content-evenly header-actions">
    <a routerLink="/automobiles/add" class="header-add btn btn-dark">Добавить</a>
    <div class="header-bottom-search">
      <input type="text" placeholder="Начните искать" [formControl]="searchField">
    </div>
  </div>

<!--  <div class="card shadow mb-3">-->
<!--    <div class="card-body">-->
<!--      <div class="header-bottom-search">-->
<!--        <input type="text" placeholder="Начните искать" [formControl]="searchField">-->

<!--        &lt;!&ndash;        <div class="search-products" *ngIf="showedSearch && automobiles && automobiles.length > 0">&ndash;&gt;-->
<!--        &lt;!&ndash;          <div class="search-product" *ngFor="let automobile of automobiles" (click)="selectAutomobile(automobile.id)">&ndash;&gt;-->
<!--        &lt;!&ndash;            <div class="search-product-image" style="background-image: url({{automobile.photo}})"></div>&ndash;&gt;-->
<!--        &lt;!&ndash;            <div class="search-product-name">{{automobile.name}}</div>&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="row" *ngIf="automobiles && automobiles.length > 0">
    <div class="col-12 col-lg-4 mb-3" *ngFor="let automobile of automobiles">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-5 col-12 text-center">
              <a [routerLink]="'/automobiles/' + automobile.id">
                <img [src]="automobile.photo" class="rounded-3 shadow"
                     style="max-height: 250px;max-width: 100%">
              </a>
            </div>
            <div class="col">
              <p class="lead mb-1">{{ automobile.name }}</p>
              <p class="mb-1">Цена: {{ automobile.price }}</p>
              <p class="mb-1">Модель: {{ automobile.carModelName }}</p>
              <p class="mb-1">Тип двигателя: {{ automobile.engineType }}</p>
              <p class="mb-1">Страна производства: {{ automobile.origin }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
