<div class="container-fluid">

  <h3 class="text-dark mb-4">Автомобили</h3>

  <div class="d-flex justify-content-evenly header-actions">
    <a *ngIf="isAdmin" routerLink="/automobiles/add" class="header-add btn btn-dark">Добавить</a>
    <div class="header-bottom-search">
      <input type="text" placeholder="Начните искать" [formControl]="searchField">
    </div>
  </div>

  <div *ngIf="automobiles.length === 0" class="alert alert-warning text-center" role="alert">
    <strong>Ничего не найдено!</strong>
  </div>

  <automobile-card [automobiles]="automobiles"></automobile-card>

</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
