<div class="container-fluid">

  <h3 class="text-dark mb-4">Статистика</h3>

  <div class="card shadow mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-lg col-12 mb-2">
          <a routerLink="/stats/all" class="btn btn-dark w-100">Общая</a>
        </div>
        <div class="col-lg col-12 mb-2">
          <a routerLink="/stats/income" class="btn btn-dark w-100">Топ-5 по прибыли</a>
        </div>
        <div class="col-lg col-12 mb-2">
          <a routerLink="/stats/count" class="btn btn-dark w-100">Наличие</a>
        </div>
        <div class="col-lg col-12 mb-2">
          <a routerLink="/stats/model" class="btn btn-dark w-100">Модели</a>
        </div>
        <div class="col-lg col-12 mb-2">
          <button class="btn btn-dark w-100" (click)="generatePDF()">Сгенерировать PDF</button>
        </div>
        <div class="col-lg col-12 mb-2">
          <a (click)="statsReset()" class="btn btn-dark w-100">Обнуление</a>
        </div>
      </div>
      <hr>
      <div #generatePdf class="text-dark">
        <p class="fs-4 text-center">Общая прибыль: {{statistics?.income}}</p>
        <hr>
        <div class="row mb-2 text-center">
          <div class="col">
            <span class="fs-5">Автомобиль</span>
          </div>
          <div class="col">
            <span class="fs-5">Модель</span>
          </div>
          <div class="col">
            <span class="fs-5">В наличии</span>
          </div>
          <div class="col">
            <span class="fs-5">Продано</span>
          </div>
          <div class="col">
            <span class="fs-5">Прибыль</span>
          </div>
        </div>
        <div *ngFor="let auto of statistics?.automobiles" class="row mb-2">
          <div class="col text-center">
            <span>{{auto.name}}</span>
          </div>
          <div class="col text-center">
            <span>{{auto.model}}</span>
          </div>
          <div class="col text-center">
            <span>{{auto.count}}</span>
          </div>
          <div class="col text-center">
            <span>{{auto.incomeCount}}</span>
          </div>
          <div class="col text-center">
            <span>{{auto.incomePrice}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
